<!DOCTYPE html>
<html>
	<head>
		<title>Pagina Film</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	
	<body>
	
		<div class="container-menu">
			<h1>TITOLO PROGETTO</h1>
			<nav id="primary_nav_wrap">
				<ul>
  					<li class="current-menu-item"><a href="/">Home</a></li>
	  				<li><a href="/visti">Film Visti</a>
  					<li class=""><a href="/search">Search</a></li>
				</ul>
			</nav>
		</div>


		<div class="Lightbox-gallery">
			<div>
				<h1> <%=title%> </h1>
				<img src= <%=poster%> >
			</div>
		</div>
	</body>
</html>