<!DOCTYPE html>
<html>
	<head>
		<title>Pagina Film</title>
	</head>
	
	<body>
		<div class="Lightbox-gallery">
			<div>
				<h1> <%=title%> </h1>
				<img src= <%=poster%> >
			</div>
		</div>
	</body>
</html>