<!DOCTYPE html>
<html>
<head>
	<title>Titolo Progetto</title>
</head>

<body>
	<div class="container">
		<h3> Cerca un Film </h3>
			<form action="/search" method="post">
				<div class="form-group">
					<input type="text" class="form control" name="name">
				</div>
				<button type="submit" class="btn btn-default btn-lg">Cerca</button>
			</form>
			<br>
		</div>

		<div id='title'>
		</div>

		<div id='poster'>
		</div>

	</div>

</body>
</html>